.lineBar-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-bar-cont {
    width: 320px;
    position: relative;
}

.line-bar-cont div:first-child {
    background: var(--text-secondary);
    height: 3px;
    /* Slightly thicker for 'solid' feel */
    border-radius: 10px;
    opacity: 0.2;
}

.line-bar-cont div:last-child {
    background: var(--primary-color);
    height: 5px;
    /* Proportional to first-child */
    border-radius: 10px;
    width: 90px;
    top: -4px;
    position: absolute;
    left: 34%;
    /* transform: translate(-50%, -77%); */
}